.button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--menu-bg-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    scale: 1;
    transition: 0.5s scale;
    &:hover {
        scale: 1.1; 
    }
    &__show-rates {
        margin-top: 10px;
    }
}

