.button {
    width: 150px;
    height: 30px;
    background-color: var(--menu-bg-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.5s all;
    &:hover {
        background-color: #5b80f9;
    }
    &__show-rates {
        margin-top: 10px;
    }
}

