#change-currency {
    margin-top: 15px;
}

.search-currency {
    margin-top: 15px;
}

#select-currency, #search-currency {
    width: 200px;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px;
    border-color: var(--menu-bg-color);
    outline: none;
    margin: 5px 5px;
}
